body{background-color: rgb(212, 8, 134);}
h1{text-aling: center;}
h2{color:rgba(196, 110, 153, 0.404)
imagem1{width: 100%; heigth: 15% }
p{background-color: black;  text-align: justify; color:rgb(207, 57, 145); font-size:30px;}
