body{background-color: rgb(112, 3, 70);}
h1{text-aling: center;}
h2{color:rgba(13, 60, 104, 0.404)}
imagem1{width: 100%; heigth: 15% }
p{background-color: black;  text-align: justify; color:rgb(127, 202, 202); font-size:30px;}
