body{background-color: rgb(109, 4, 4);}
h1{text-aling: center;}
h2{color:rgb(221, 208, 233)}
imagem1{width: 40% }
p{background-color: black;  text-align: justify; color:rgb(127, 202, 202); font-size:30px;}
